<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PThreadDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F454FE41CEB18B40012DBF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F454FFD1CEB18B40012DBF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F4550081CEB18B40012DBF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
